<!doctype html>
<html>
<head>
  <title>Homepage / Auth</title>
  <script src="{{ url_for('static', filename='script.js') }}"></script>
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <h1>Testing</h1>
  <h2>Datastore and Firebase Auth Example</h2>

  <form>
  <label for="fname">First name:</label><br>
  <input type="text" id="fname" name="fname"><br>
  <label for="lname">Last name:</label><br>
  <input type="text" id="lname" name="lname">
</form>

  <h3>Last 10 visits</h3>
  {% for time in times %}
    <p>{{ time }}</p>
  {% endfor %}

<input type = "button" onclick = "sayHello()" value = "Say Hello" />

<!-- Firebase App (the core Firebase SDK) is always required and must be listed first -->
  <script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-app.js"></script>

</body>
</html>